* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 5% auto;
	max-width: 1200px;
	background-color:  #71bfad;
	display: flex;
	flex-wrap: wrap;
}

#start {
	position: absolute;
	left: 42%;
	top: 35vh;
	width: 16%;
	height: 8%;
	background-color: #aad929;
	text-align: center;
	font-size: 2rem;
	border: 4px solid rgb(156, 173, 147);
	border-radius: 10px;
	cursor: pointer;
}

@media screen and (max-width: 500px) and (orientation: portrait) {
	#start {
		width: 50%;
		min-height: 10%;
		left: 25%;
	}
}

@media screen and (max-height: 415px) and (orientation: landscape) {
	#start {
		width: 30%;
		height: 20%;
		left: 35%;
	}
}

div{
	flex-basis: 20%;
	height: 20vh;
	background-color: #b4b4b4;
	border: 4px solid #5ca7ff;
	border-radius: 10px
}

@media only screen and (orientation: portrait) {
	div {
		flex-basis: 25%;
		height: 18vh;
	}
}

.fruit {
	background-repeat: no-repeat;
	background-position: center; 
	background-size: contain;
}

.hidden {
	background-image: url(img/question-mark-2.png) !important;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: contain;
}

.guessed {
	opacity: 0;
}
